.map_2 {
    width: 1390px;
    height: 500px;
    background: url("../../images/map.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: fit;
}

.svg_bgd {
    opacity: 0;
    position: absolute;
    top: 5%;
    left: 34%;
    visibility: hidden;
    transition: all 1s linear;
}

.visable {
    position: absolute;
    top: 5%;
    left: 34%;
    visibility: visible;
    opacity: 0.2;
}

.svg_path2 {
    position: absolute;
    top: 68%;
    left: 40%;
    display: block;

}

.map_2[pos="fixed"] {
    position: fixed;
    top: 0;
}

.map_2[pos="bottom"] {
    position: absolute;
    bottom: 0;
}

.map_wrapper {
    height: 1000px;
    position: relative;
}

.stop_scroll {
    overflow: hidden;
}

.line {
    stroke-dasharray: 40 700;
    stroke-dashoffset: 700;
    animation: dash 2s ease forwards;
    fill: transparent;
    stroke-width: 4px;
    stroke: red;
    position: relative;
}

@keyframes dash {
    to {
        stroke-dashoffset: 0;
        stroke-dasharray: 1 700;
        stroke-width: 1px;
    }
}